/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui

 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "bootstrap";
@import "../fonts/font";
@import "devise";
@import "signin";
@import "units_disabled";
@import "flags";
@import "intlTelInput";

$link-color: #666;

.devise-shared-links {
  margin-left: 15px;
}

#remember-label {
  margin-top: 10px;
  padding-left: 0px;
}

.help-inline {
  margin-left: 8px;
}


.nav {
  background: rgba(0, 0, 0, 0.5);
}

.nav-tabs {
  border-bottom: 1px solid #222;
}

#clock, #timezone {
  width: 100px;
}

#clock {
  margin-left: 16px;
  margin-right: 10px;
}

#timezone {
  border-right: 1px solid white;
}

#new-unit {
  display: inline-block;
  margin-left: 16px;
}

#new-unit> a:hover {
  text-decoration: none;
  color: #feed00;
  text-shadow: 0px 0px 6px #DAA400,
               0px 0px 12px #E99200,
               0px 0px 24px #975A00;
}

#name-display {
  display: inline-block;
  margin-right: 8px;
}

.nav img {
  border-right: 1px solid white;
  margin-right: 10px;
  padding-right: 15px;
}

.btn-sm {
  color: dimgray;
  background-color: black;
  border: 1px solid gray;
  &:hover {
    border: 1px solid #FEED00;
    background: rgb(43,18,13);
    color: #FEED00;
    text-shadow: 0px 0px 6px #DAA400,
    0px 0px 12px #E99200,
    0px 0px 24px #975A00;
  }
}

input .update-user {
  margin-bottom: 7px;
  outline: white;
}

.update-user:hover {
  outline: none;
  color: #feed00;
  text-shadow: 0px 0px 6px #DAA400,
               0px 0px 12px #E99200,
               0px 0px 24px #975A00;
}

.update-user:active:focus {
  color: #feed00;
  outline: #FEED00;
  text-shadow: 0px 0px 6px #DAA400,
               0px 0px 20px #E99200,
               0px 0px 32px #975A00;
}

.join-queue:hover {
  color: white;
  outline: none;
  text-shadow: 0px 0px 6px rgba(200,220,224,1),
  0px 0px 12px rgba(141,220,224,1),
  0px 0px 18px rgba(41,120,224,1);
}

.join-queue:active {
  color: white;
  outline: none;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
  0px 0px 12px rgba(41,120,224,1);
}

.header-button {
  border: none;
  background-color: black;
}

.header-button:hover {
  color: #feed00;
  text-shadow: 0px 0px 6px #DAA400,
               0px 0px 12px #E99200,
               0px 0px 24px #975A00;
}

.header-button:focus {
  box-shadow: none;
  outline: none;
}

a { text-decoration: none; }


/////////////// Global Style //////////////

input {
  background-color: black;
  color: white;
}

.country{
  background-color: black;
  color: white;
}

.highlight {
  background-color: #333;
}

.light-blue { color: #6DD6E3; }

.grayed-out { color: gray; }

.black { color: black; display: inline-block;}

.white { background: #FFF; }

.white-glow-dim {
  color:#fff;// display:inline-block;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
               0px 0px 10px rgba(101,180,184,1);
}

.white-glow {
  color:#fff;// display:inline-block;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
               0px 0px 12px rgba(141,220,224,1),
               0px 0px 24px rgba(141,220,224,1);
}

.green-glow {
  color:#0f0;
  background: rgba(0, 100, 0, 0.25);
  text-shadow: 0px 0px  6px rgba(0,220,4,1),
               0px 0px 12px rgba(50,220,94,1),
               0px 0px 24px rgba(100,220,124,1);
}

.blue-glow {
  color:#0ff;
  background: rgba(0, 0, 100, 0.25);
  text-shadow: 0px 0px  6px rgba(0,4,220,1),
               0px 0px 12px rgba(50,200,205,1),
               0px 0px 24px rgba(100,220,225,1);
    &:hover {
      text-decoration: none;
      color: #FFF;
      text-shadow: 0px 0px 6px rgba(141,220,224,1),
                   0px 0px 12px rgba(141,220,224,1),
                   0px 0px 24px rgba(141,220,224,1);
    }
}

.red-glow {
  color:#f00;
  text-shadow: 0px 0px 6px rgba(226,0,0,.71),
               0px 0px 12px #B50000,
               0px 0px 24px #5A0000;
  background: #300000;
}

.red-glow-no-bg {
  color:#f00;
  text-shadow: 0px 0px 6px rgba(226,0,0,.71),
  0px 0px 12px #B50000,
  0px 0px 24px #5A0000;
}

.gold-glow {
  color: #feed00; display:inline-block;
  text-shadow: 0px 0px 6px #DAA400,
               0px 0px 12px #E99200,
               0px 0px 24px #975A00;
  background: rgb(43,18,13);
}

.gold-glow-no-bg {
  color: #feed00; display:inline-block;
  text-shadow: 0px 0px 6px #DAA400,
  0px 0px 12px #E99200,
  0px 0px 24px #975A00;
}

.smaller { font-size: .75em; }

.spacer {  height: 5px; }

.border-gray {   border: 1px solid gray; }
.border-red {   border: 1px solid red; }
.border-bottom { border-bottom: 1px solid gray;  }
.border-bottom-red { border-bottom: 1px solid red;  }

.lowered { margin-top: 2px; }

.border-right { border-right: 1px solid white; }

/////////// devise styles /////////////

.signin, .signup, .change-password {
  background-color: black;
  color: white;
  top: 150px;
}



/////////// Fonts /////////////

.quicksand-bold {
  font-family:'quicksandbold';
  font-size: 12px;
}

.quicksand-reg {
  font-family:'quicksandregular';
  font-size: 12px;
}

.quicksand-light {
  font-family:'quicksandlight';
  font-size: 12px;
}

.microgramma-bold {
  font-family: 'MicrogrammaDBolExt_3';
  font-size: .9em;
}

.pfmech {
  font-family: 'PFMechanicaAProBold';
  font-size: 1.3em;
}

.pfmech9 {
  font-family: 'PFMechanicaAProBold';
  font-size: .9em;
}

.microgramma {
  font-family: 'MicrogrammaDMediumExtended';
  font-size: .8em;
}

.gruppo {
  font-family: 'GruppoRegular';
//  font-size: .9em;
}

.smaller { font-size: 8px; position: relative;} // because class="relative raised smaller" kept causing errors
.larger { font-size: 1.4em; }
.larger2 { font-size: 2em; }
.slightly-larger { font-size: 1.2em; }

.relative { position: relative; }
.raised { bottom: 1px; }
.txt-centered { text-align: center }
.txt-right { text-align: right }
.spaced {  letter-spacing: 2px; }
.spaced3-6 {  letter-spacing: 3.6px; }
.spaced7 { letter-spacing: 7px; }
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.user-info { margin-top: 9px; }

.nav { margin-top: 5px; }

#clock, #timezone {
  display:inline-block;
  margin-top: 6px;
}

#notice {
  margin-left: 45px;
}

#alert {
  display: inline-block;
  margin-bottom: 0px;
}

header {
    text-align: center;
    height: 50px;
}
body {
  background-color: #061526;
}

li { list-style-type: none; }

#new-user:hover {
  color:#fff;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
  0px 0px 12px rgba(141,220,224,1),
  0px 0px 24px rgba(141,220,224,1);
}


////////////////////// user form //////////////

#user-email, #user-email2 { width: 177px; }

#user-avatar {
  background:transparent;
}

.current-avatar-label { top: 10px; }

.contact-switch:hover, .fa-toggle-on, .fa-toggle-off {
  cursor: pointer;
}

////////////////////// unit /////////////////////

.unit {
  position: absolute;
  display: inline-block;
  height: 265px;
}

.unit-body {
  width: 220px;
  border-left: solid white 1px;
  border-right: solid white 1px;
  border-top: solid white 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
//  -webkit-border-top-left-radius: 10px;
//     -moz-border-top-left-radius: 10px;
//          border-top-left-radius: 10px;
//  -webkit-border-top-right-radius: 10px;
//     -moz-border-top-right-radius: 10px;
//          border-top-right-radius: 10px;
}

.unit-body-disabled {
  border-left: solid red 1px;
  border-right: solid red 1px;
  border-top: solid red 1px;
  -webkit-box-shadow: 0px 0px 31px 2px rgba(187,0,0,1);
  -moz-box-shadow: 0px 0px 31px 2px rgba(187,0,0,1);
  box-shadow: 0px 0px 31px 2px rgba(187,0,0,1);
}

.disable-msg-panel {
  display: none;
}

.unit-header > div {
  color: #061526;
  height: 28px;
  background-color: transparent;
  border-bottom: 1px solid gray;
  text-shadow: 1px  1px 0 gainsboro,
              -1px -1px 0 gainsboro,
               1px -1px 0 gainsboro,
              -1px  1px 0 gainsboro,
               1px  1px 0 gainsboro;
}

.fa-trash-o {
  color: white;
}

.unit-name {
  padding-left: 0px;
  padding-right: 0px;
  //    background-color: white;
  color: #061526;
}

.unit-header-disabled > div {
  color: #061526;
  height: 28px;
  background-color: transparent;
  border-bottom: 1px solid red;
  text-shadow: 1px  1px 0 red,
  -1px -1px 0 red,
  1px -1px 0 red,
  -1px  1px 0 red,
  1px  1px 0 red;
}

.faded-pic {
  opacity: .3;
}

.dull-red-bg {
  background: #500;
}

.unit-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.no-sides {
  border-right: 3px solid rgb(6, 21, 38);
  border-left: 3px solid rgb(6, 21, 38);
  width: 221px;
  margin-left: -16px;
}

div.refresh {
  padding: 0px;
  top: -4px;
  left: 2px;
}

div.new-uu-button {
  padding: 0px;
  top: -1px;
  left: 9px;
  :hover { cursor: pointer; }
}

div.disable {
  padding: 0px;
  left: -8px;
  top:  -4px;
}
.toggle-overlay-off {
  position: absolute;
  margin-left: 161px;
  bottom: 2px;
//  position: absolute;
//  border-bottom: 1px solid rgb(100, 100, 100);
//  border-right:  1px solid rgb(100, 100, 100);
//  padding-left: 0px;
//  padding-top: 0px;
//  height: 20px;
//  width: 26px;
}


.est-time-of-completion {
  margin-top: 5px;
}

.est-time-of-completion-label {
  margin-top: 2px;
}

.time-remaining {
  height: 22px;
  border: 1px solid #333;
  padding-left: 14px;
  overflow: hidden;
}

.remaining-label {
  margin-top: 4px;
}

#show-queue {
    float: right;
}

input { background: transparent; }

.est-time-of-completion { padding-right: 0px; }
.est-time-of-completion-label {
  padding-left: 0px;
  padding-right: 14px;
}

//
//
//
//
//.unit-overlay {
//  position: absolute;
//  top: -1px;
//  left: -1px;
//  height: 278px;
//  width: 221px;
//  background: rgba(0,0,0,.8);
//  -webkit-border-radius: 0px 0px 25px 25px;
//  -moz-border-radius: 0px 0px 25px 25px;
//  border-radius: 0px 0px 25px 25px;
//  -webkit-box-shadow: 0px 0px 41px 1px rgba(240,0,0,1);
//  -moz-box-shadow: 0px 0px 41px 1px rgba(240,0,0,1);
//  box-shadow: 0px 0px 41px 1px rgba(240,0,0,1);
//  z-index: 88;
//}

.fa-plus-square {
  margin-left: 0px !important;
}

.fa-trash-o {
  color: black;
  margin-left: -9px !important;
}

/////////////////// form /////////////////////

#blur-layer { z-index: 0 }

#overlay {
  background:#000;
  background:rgba(0,0,0,0.7);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
}

#non-blur-layer {
  z-index: 2;
}

.unit_user_form {
  position: fixed;
  background-color: transparent;
  display: block;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  box-shadow:0 0 11px white;
}

.fa {
  margin-top: 5px;
} // for the user edit form

.email1-visible, .email1-active, .email2-visible, .email2-active, .name-visible,
.phone1-visible, .phone1-active, .phone2-visible, .phone2-active {
  border: double 3px gray;
  border-radius: 3px;
}

.email1-visible-display, .email1-active-display, .email2-visible-display, .email2-active-display,
.phone1-visible-display, .phone1-active-display, .phone2-visible-display, .phone2-active-display {
  border: solid 1px gray;
  border-radius: 3px;
  padding-left: 12px;
}

.hidden, .hidden-checkboxes, .hidden-end-times { display:none; }

#new-unit-form {
  margin-top: 100px;
}

.edit-user-link {
  border: 1px solid gray;
  padding: 1px 10px;
  border-radius: 8px;
}

#user-edit-form, #new-unit-form {
  width: 500px;
  color: white;
  position: fixed;
  background-color: transparent;
  display: block;
  border-radius: 10px;
  box-shadow:0 0 11px white;

  .time-zone-selector {
    width: 427px;
    background-color: black;
    color: white;

    option {
      background-color: black;
      color: white;
    }
  }

}

////////////// blur stuff ///////////////////

.blur-in {
  -webkit-animation: blur 1s forwards;
  -moz-animation: blur 1s forwards;
  -o-animation: blur 1s forwards;
  animation: blur 1s forwards;
}

.blur-out {
  -webkit-animation: blur-out 1s forwards;
  -moz-animation: blur-out 1s forwards;
  -o-animation: blur-out 1s forwards;
  animation: blur-out 1s forwards;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-moz-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-o-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-webkit-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-o-keyframes blur-out {
  0% { -webkit-filter: blur(4px); -moz-filter: blur(4px); -o-filter: blur(4px); -ms-filter: blur(4px); filter: blur(4px); }

  100% { -webkit-filter: blur(0px); -moz-filter: blur(0px); -o-filter: blur(0px); -ms-filter: blur(0px); filter: blur(0px); }
}

@keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

/////////////////// unit-user ///////////////////

  /// form ///

  hr { margin: 6px; }

  .uu-avatar, .unit-image {
    border: 3px double gray;
  }

  .unit-image {
    margin-left: -9px;
    margin-bottom: 5px;
  }

  .time-input { border: 1px solid gray;
    width: 370px;
    padding: 6px;
  }

  textarea {
    background: black;
    padding: 6px;
  }

  .unit-user-hr {
    margin: 0px;
    margin-bottom: -2px;
  }

  .uu-duration-edit {
    width: 86px;
    height: 16px;
    margin-left: 16px;
    background-color: #0B1927;
    border: none;
  }

  .uu-delete {
    border: 1px solid gray;
    width: 60px;
    border-radius: 5px;
    &:hover {
      color: red;
      text-decoration: none;
      text-shadow: 0px 0px 6px rgba(226,0,0,.71),
                   0px 0px 12px #B50000,
                   0px 0px 24px #5A0000;
    }
  }

  input[type=submit] {
    border-style: solid;
    border-color: white;
    -webkit-border-radius: 10px ;
       -moz-border-radius: 10px ;
            border-radius: 10px ;
  }

  div[id^='contact-pref-notice'] {
    display:none;
  }

#form-field-email {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 23px;
  width: 260px;
  border: 2px solid white;
  padding-top: 1px;
}

li {
  padding-bottom: 1px;
}

.fa-column {
  width: 30px;
}

.fa {
  margin-left: 5px;
}

.glyphicon-unchecked { 
  width: 12px;
}

.uu-wrapper {
  width: 212px;
  height: 100%;
  border: 1px solid white;
  border-radius: 15px;
}

.unit-user {
  width: 200px;
  border: 1px solid white;
  border-radius: 15px ;
  -moz-border-radius: 15px ;
  -webkit-border-radius: 15px ;

  table {
    margin: 0;
  }

  .name {
    width: 200px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 1em;
    margin-left: -1px;  // if grid is not set in container class
//    margin-left: -23px; // if grid is set in container class
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
  }

  .beg-dur-end {
    margin-top: 6px;
    line-height: 1em;
  }

  .dur { margin-top: 3px; }

  .submit-dur-button, .submit-note-button {
    color: #555;
    margin-right: -18px;
  }

  .note {
    border-top: 1px solid gray;
  }

  .uu-note-edit {
    font-size: .79em;
  }

}


////////////////// user-queue ////////////////////

.user-queue {
  position: relative;
  left: 4px;
  top:  4px;
}


div.remaining {
    margin-top: 3px;
}

div.complete {
    margin-top: 22px;
    opacity: .5;
}

.tiny {
  font-size:8px;
}

/******************** Queue styling **********************/

.icon {
  display: inline-block;
  width: 10px;
}
