/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap-datetimepicker.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome.css";
@import "../fonts/font";
@import "signin";
@import "flags";
@import "intlTelInput";

$link-color: #666;

.nav {
  background: rgba(0, 0, 0, 0.5);
}

.nav-tabs {
  border-bottom: 1px solid #222;
}

#clock, #timezone { width: 94px; }

#clock { margin-left: 10px; }

.btn-sm {
  color: dimgray;
  background-color: white;
}

.btn-sm:hover {
  color: aqua;
  background-color: white;
}

.update-user:hover {
  color: white;
  outline: none;
  text-shadow: 0px 0px 6px rgba(141,220,224,1);
}

.update-user:focus {
  color: white;
  outline: none;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
  0px 0px 12px rgba(41,120,224,1);
}

.join-queue:hover {
  color: white;
  outline: none;
  text-shadow: 0px 0px 6px rgba(200,220,224,1),
  0px 0px 12px rgba(141,220,224,1),
  0px 0px 18px rgba(41,120,224,1);
}

.join-queue:active {
  color: white;
  outline: none;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
  0px 0px 12px rgba(41,120,224,1);
}

.header-button {
  border: none;
  background-color: black;
}

.header-button:hover {
  color: aqua;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
  0px 0px 12px rgba(141,220,224,1),
  0px 0px 24px rgba(141,220,224,1);
}

.header-button:focus {
  box-shadow: none;
  outline: none;
}

a { text-decoration: none; }

//.btn.active, .btn:active {
//  background-color: #F00;
//}



/////////////// Global Style //////////////

input {
  background-color: black;
  color: white;
}

.country{
  background-color: black;
  color: white;
}

.highlight {
  background-color: #333;
}

.light-blue { color: #6DD6E3; }

.grayed-out {
  color: gray;
}

.black { color: black; display: inline-block;}

.white { background: #FFF; }

.white-glow-dim {
  color:#fff; display:inline-block;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
               0px 0px 10px rgba(101,180,184,1);
}

.white-glow {
  color:#fff; display:inline-block;
  text-shadow: 0px 0px 6px rgba(141,220,224,1),
               0px 0px 12px rgba(141,220,224,1),
               0px 0px 24px rgba(141,220,224,1);
}

.green-glow {
  color:#0f0;

  text-shadow: 0px 0px  6px rgba(0,220,4,1),
               0px 0px 12px rgba(50,220,94,1),
               0px 0px 24px rgba(100,220,124,1);
}

.red-glow {
  color:#f00; display:inline-block;
  text-shadow: 0px 0px 6px rgba(255,100,100,1),
  0px 0px 12px rgba(255,150,150,1),
  0px 0px 24px rgba(255,200,200,1);
}

.smaller { font-size: .75em; }

.spacer {  height: 5px; }

.border-bottom { border-bottom: 1px solid gray;  }

.lowered { margin-top: 2px; }

.border-right { border-right: 1px solid white; }

/////////// devise styles /////////////

.signin, .signup {
  background-color: black;
  color: white;
  top: 150px;
}

//////////// blinker //////////

.scale-y-up {
  transform: scaleY(1);
}

.neon {
  -webkit-animation:pulse 1.5s ease-in-out infinite alternate;
  -webkit-backface-visibility: hidden;
}


@-webkit-keyframes pulse {
  from {
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #ff00de,
    0 0 70px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #ff00de,
    0 0 35px #ff00de;
  }
}

///////////////////////////////


/////////// Fonts /////////////

.arame-bold {
  font-family:'ArameBold';
  font-size: 12px;
}

.quicksand-bold {
  font-family:'quicksandbold';
  font-size: 12px;
}

.quicksand-reg {
  font-family:'quicksandregular';
  font-size: 12px;
}

.ocra {
  font-family: 'ufonts_com_ocra';
  font-size: 12px;
}

.microgramma-bold {
  font-family: 'MicrogrammaDBolExt_3';
  font-size: .9em;
}

.microgramma {
  font-family: 'MicrogrammaDMediumExtended';
  font-size: .8em;
}

.smaller { font-size: 8px; position: relative;} // because class="relative raised smaller" kept causing errors
.larger { font-size: 1.4em; }
.slightly-larger { font-size: 1.2em; }

.relative { position: relative; }
.raised { bottom: 1px; }
.txt-centered { text-align: center }
.txt-right { text-align: right }
.spaced {  letter-spacing: 2px; }
.spaced3-6 {  letter-spacing: 3.6px; }
.spaced7 { letter-spacing: 7px; }
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
/////////////////////////////////////////////////

.user-info { margin-top: 9px; }
.nav { margin-top: 5px; }

header {
    text-align: center;
    height: 50px;
}
body {
  background-color: #061526;
}

li { list-style-type: none; }




////////////////////// user form //////////////


#user-edit-form {
  width: 500px;
  color: white;
  background: transparent;
}

#user-email, #user-email2 { width: 177px; }

#user-avatar {
  background:transparent;
}

.current-avatar-label { top: 10px; }

////////////////////// unit /////////////////////

.unit {
    /*height: 100px;*/
  position: absolute;
  display: inline-block;
  width: 220px;
  height: 250px;
  border: solid gray 1px;
}

.unit-header > div {
  height: 28px;
  background-color: white;
}

.unit-image {
  width: 190px;
  border-radius: 5px;
}

.est-time-of-completion {
  margin-top: 5px;
}

.est-time-of-completion-label {
  margin-top: 2px;
}

#show-queue {
    float: right;
}

input { background: transparent; }

.est-time-of-completion { padding-right: 0px; }
.est-time-of-completion-label {
  padding-left: 0px;
  padding-right: 14px;
}

.inactive {

}

.needs-service {

}

.pulse {
  -webkit-animation: pulse .5s infinite linear;
     -moz-animation: pulse .5s infinite linear;
          animation: pulse .5s infinite linear;
}

@-moz-keyframes pulse {
  0% { background-color: white; }
  50% { background-color: aqua; }
  100% { background-color: white; }
}

@-webkit-keyframes pulse {
  0% { background-color: white; }
  50% { background-color: aqua; }
  100% { background-color: white; }
}

/////////////////// form /////////////////////

#blur-layer { z-index: 0 }

#overlay {
  background:#000;
  background:rgba(0,0,0,0.7);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
//  z-index: 1;
}

#non-blur-layer {
//  top: 0px;
//  left: 0px;
//  height: 100%;
//  width: 100%;
//  position: fixed;
  z-index: 2;
}

.unit_user_form {
  position: fixed;
  background-color: transparent;
  display: block;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  box-shadow:0 0 11px white;
}

#user-edit-form {
  position: fixed;
  background-color: transparent;
  display: block;
  border-radius: 10px;
  box-shadow:0 0 11px white;

  .time-zone-selector {
    width: 427px;
    background-color: black;
    color: white;

    option {
      background-color: black;
      color: white;
    }
  }

}

////////////// blur stuff ///////////////////

.blur-in {
  -webkit-animation: blur 1s forwards;
  -moz-animation: blur 1s forwards;
  -o-animation: blur 1s forwards;
  animation: blur 1s forwards;
}

.blur-out {
  -webkit-animation: blur-out 1s forwards;
  -moz-animation: blur-out 1s forwards;
  -o-animation: blur-out 1s forwards;
  animation: blur-out 1s forwards;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-moz-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-o-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-webkit-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-o-keyframes blur-out {
  0% { -webkit-filter: blur(4px); -moz-filter: blur(4px); -o-filter: blur(4px); -ms-filter: blur(4px); filter: blur(4px); }

  100% { -webkit-filter: blur(0px); -moz-filter: blur(0px); -o-filter: blur(0px); -ms-filter: blur(0px); filter: blur(0px); }
}

@keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }

  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

/////////////////////////////////////////////



/////////////////// unit-user ///////////////////

  /// form ///

  hr { margin: 6px; }

  .uu-avatar, .unit-image { border: 3px double gray; }

  .time-input { border: 1px solid gray;
    width: 370px;
    padding: 6px;
  }

  textarea {
    background: black;
    padding: 6px;
  }

  input[type=submit] {
    border-style: solid;
    border-color: white;
    -webkit-border-radius: 10px ;
       -moz-border-radius: 10px ;
            border-radius: 10px ;
  }


  ////////////




li {
  padding-bottom: 1px;
}

.fa-column {
  width: 30px;
}

.fa {
  margin-left: 5px;
}

.unit-user {
  width: 200px;
  border-width: 2px 8px;
  border-style: solid;
  border-color: white;
  border-radius: 15px ;
  -moz-border-radius: 15px ;
  -webkit-border-radius: 15px ;

  table {
    margin: 0;
  }

  .unit-name {
    background-color: white;
    color: #061526;
  }

  .name {
    width: 200px;
    background-color: white;
    color: #061526;
    text-align: center;
    font-size: 1em;
    margin-left: -8px;  // if grid is not set in container class
//    margin-left: -23px; // if grid is set in container class
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
  }

  .beg-dur-end {
    margin-top: 6px;
    line-height: 1em;
  }

  .bip-duration-field {
    display: inline-block;
//    width: 40px;
  }

  //best_in_place field
  .duration-input {
    display: inline-block;
    width: 40px;
  }

  .duration-string {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

  .note {
    border-top: 1px solid white;
  }

}
/////////////////end unit-user ///////////////////


////////////////// user-queue ////////////////////

.user-queue {
  position: relative;
  left: -28px;
  top: 249px;
}

//////////////////////////////////////////////////


div.remaining {
    margin-top: 3px;
}



div.complete {
    margin-top: 22px;
    opacity: .5;
}

.tiny {
  font-size:8px;
}

/******************** Queue styling **********************/

//table {
//  table-layout:fixed;
//  margin-left: 5px;
//  margin-right: 5px;
//  margin-top: 10px;
//}

.icon {
  display: inline-block;
  width: 10px;
}

//.colon {
//  display: inline-block;
//  width: 6px;
//}
