<li>
  <table class="user">
    <tr class="label"><td>Name:</td><td class="name"></td></tr>
    <tr class="label"><td>Phone:</td><td class="phone"></td></tr>
    <tr class="label"><td>SMS:</td><td class="SMS"></td></tr>
    <tr class="label"><td>Email:</td><td class="email"></td></tr>
    <tr class="label"><td>Start:</td><td class="start_time"></td></tr>
    <tr class="label"><td>Dur:</td><td class="duration"></td></tr>
    <tr class="label"><td>Note:</td><td class="note"></td></tr>
    <tr class="label"><td>EDIT</td><td>DELETE</td></tr>
  </table>
</li>